@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Lora', serif; */

:root {    
    /* Color */
    --primary-clr: #E69D27;
    --gray-clr:  #FFFFFF78;
    --white-clr: #ffffff;
    --navbar-bg: #023047;

    /* Font-Family */
    --font-arial: Arial, sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-lora: 'Lora', serif;

    /* Font Size */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-inter);
    font-size: 1.6rem;
}

/* Default styles */

img {
    width: 100%;
}

.primary-clr {
    color: var(--primary-clr);
}

.heading h2{
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-lora);
    color: var(--primary-clr);
}

.presenters .heading h2{
    color: var(--white-clr);
}

.lora{
    font-family: var(--font-lora);
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-20 {
    font-size: 20px;
}

.fz-26 {
    font-size: 26px;
}

.fz-36 {
    font-size: 36px;
}

.fz-46 {
    font-size: 46px;
}

.line-h-60 {
    line-height: 60px;
}


.line-h-32 {
    line-height: 32px;
}

.line1 {
    width: 2px;
    height: 30px;
    background-color: var(--primary-clr);
}

.line2 {
    width: 2px;
    height: 50px;
    background-color: var(--primary-clr);
}

.box121{
    background-color: #181919;
    padding: 30px;
    margin-right: 30px;
}

.box122{
    background-color: #181919;
    padding: 30px;
}

.primary-outer {
    /* border: 1px solid var(--primary-clr); */
    /* background-color: #181919; */
}

.left-border {
    border-right: 1px solid var(--gray-clr);
}

.laying li::before {
    margin: 10px 0;
    content: "\2022";
    color: var(--primary-clr);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.profile-pic {
    width: 230px;
}

.default-hover:hover {
    color: var(--primary-clr);
}



/* Main styles */

.landing_page{
    font-family: var(--font-inter);
}

.hero {
    width: 100%;
    min-height: 520px;
    background-image: url(../images/hero@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-clr);
}

.site-img {
    width: 150px;
}

.navbar-toggler {
    background-color: var(--white-clr) !important;
}

.navbar-nav {
    margin-right: 100px;
    text-align: center;
}

.nav-item {
    margin-right: 15px;
    margin-bottom: 2px;
}

.nav-link {
    color: var(--white-clr)!important;
    font-size: 18px!important;
}

.nav-link:hover {
    color: var(--primary-clr)!important;
}

/* .nav-link.active {
    color: var(--primary-clr)!important;
} */

.nav-custom-bg {
    background-color: var(--navbar-bg)!important;
}

.hero-content {
    margin-top: 70px;
}

.hero_event__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.hero_event__details .title {
    color: var(--primary-clr);
}

.form-section {
    border: 1px solid var(--primary-clr);
}

.form-section form {
    display: flex;
    justify-content: center;
}




.what-you-will-learn {
    width: 100%;
    min-height: 690px;
    background-image: url(../images/section-2@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 40px;
    color: #ffffff;
}



.presenters {
    width: 100%;
    min-height: 620px;
    background-color: #219ebc;
    padding-top: 33px;
    color: #ffffff;
}



.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .name {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.profile .position {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
}

.profile .company {
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
}

.profile .social-links {
    width: 25px;
    height: 25px;
    margin-top: 15px;
}

.profile .social-links img {
    width: 100%;
}




.events {
    width: 100%;
    background-color: #023047;
    min-height: 240px;
    color: #ffffff;
}

.events span {
    text-align: center;
    font-size: 16px;
    padding: 10px 15px;
}

.event__details {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.event__details span {
    font-size: 18px;
}

.event__details .title {
    color: var(--primary-clr);
}




.stories {
    width: 100%;
    min-height: 650px;
    background-color: #000000;
    color: #ffffff;

}

.story-main-contnet {
    width: 50%;
}

.story-main-contnet div {
    font-size: 24px;
    font-weight: 300;
}

.story-main-contnet div span {
    font-weight: bold;
}


.story__box {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.story__box .lef_box,
.story__box .right_box {
    padding: 20px;
    border: 1px solid var(--primary-clr);
}

.story__box .lef_box .left_box_heading,
.story__box .right_box .right_box_heading {
    color: #E69D27;
    font-size: 22px;
}

.story__box .lef_box ul li,
.story__box .right_box ul li {
    text-align: left;
}

.story__box .lef_box ul li::before,
.story__box .right_box ul li::before {
    margin: 10px 0;
    content: "\2022";
    color: var(--primary-clr);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}




.about_legalease {
    width: 100%;
    padding: 30px;
    background-color: #023047;
}

.about__content {
    color: #fff;
}

.about-items {
    margin: 60px 30px 20px 30px;
    color: #fff;
}

.about-items h1 {
    color: #E69D27;
    font-size: 48px;
    font-weight: 800;
}



.register-section {
    width: 100%;
    height: 180px;
    background-color: #050E1A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-section span {
    width: 200px;
    background-color: var(--primary-clr);
    color: #050E1A;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}





.landing-page-footer {
    width: 100%;
    min-height: 150px;
    background-color: #020202;
    color: #ffffff;
    padding: 25px 0 1px 0;
    margin-top: 0px !important;
}

.landing-page-footer .footer-icon {
    width: 160px;
    height: 80px;
}

.landing-page-footer .copyRight {
    text-align: center;
}

.footer-sec2 {
    width: 215px;
    padding: 10px;
    margin-top: 15px;
}

.footer-sec2 .soc-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-sec2 .soc-icons img {
    width: 100px;
}

.footer-sec2 p {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0 0 0;
    color: var(--white-clr);
}

.contact-us {
    text-align: left;
    padding-top: 10px;
}

.contact-us h4 {
    font-weight: 700;
    color: var(--primary-clr);
    margin-top: 20px;
}

.contact-us p {
    font-size: 16px;
    font-weight: 400;
    color: #b2b0b0;
}


.contact-us p {
    color: #fff;
    margin-bottom: 0;
}

.contact-us p a {
    color: #fff;
    text-decoration: none;
}

.contact-us p img {
    width: 35px;
}


.social h4 {
    font-weight: 700;
    color: var(--primary-clr);
    margin-top: 20px;
    padding-top: 10px;
}

.footer-social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    width: 90px;
    height: 90px;
}

.footer-social-icons img {
    width: 35px;
}

.hrFooter {
    width: 100%;
    background-color: #818181;
}



#wpcf7-f329-p327-o1 .wpcf7-form {
    display: flex;
    flex-direction: column;
    align-items: center
}


#wpcf7-f329-p327-o1 .wpcf7-form-control-wrap input {
    position: relative;
    height: 35px;
    width: 100%;
}

#wpcf7-f329-p327-o1 .wpcf7-submit {
    color: #ffffff;
    background-color: transparent;
    width: 150px;
    padding: 8px 15px;
    border: 1px solid var(--primary-clr);
    border-radius: 30px;
    margin-left: 70px;
}

form.wpcf7-form.init p {
    margin-top: 15px;
}


input#wpcf7-f329-p327-o1 .wpcf7-submit {
    margin-left: 0 !important;
    width: 100%important;
}

/*----------------------- Responsive ---------------------------------------*/

/* media query for max-width: 1400px & min-width: 986px */
@media screen and (max-width: 1400px) and (min-width: 986px) {
    .form-section {
        min-width: 95% !important;
        height: 500px;
    }
}


/* media query for max-width: 1200px & min-width: 986px */
@media only screen and (max-width: 1200px) and (min-width: 986px) {
    .hero_event__details .dt,
    .hero_event__details .tt {
        width: 30% !important;
        text-align: center;
    }
    
    .fz-46{
        font-size: 40px;
    }
}


/* media query for max-width: 992px*/
@media (max-width: 992px) {
    /* Default styles */
    .bg-custom {
        background-color: var(--navbar-bg);
    }

    .fz-18 {
        font-size: 16px !important;
    }

    .fz-46 {
        font-size: 28px;
    }

    .line-h-60 {
        line-height: 50px !important;
    }



    /* Main styles */
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 2px;
    }

    .hero-items {
        text-align: center;
        margin-bottom: 50px;
    }

    .hero-form {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .presenters {
        padding-bottom: 50px;
    }

    .profile {
        margin-bottom: 40px;
    }

    .profile-pic {
        width: 230px;
    }


    .story-main-contnet {
        width: 100% !important;
    }
}


/* media query for max-width: 768px*/
@media (max-width : 768px) {
    .event__details span {
        font-size: 15px;
    }

    .events span{
        padding: 10px;
    }

    .heading h2 {
        font-size: 26px;
    }

    .left-border{
        border-right: none;
    }

    .box121{
        border-bottom: none;
    }

    .box122{
        border-top: none;
    }
}

/* media query for max-width: 576px*/
@media only screen and (max-width: 576px) {

    .story__box .lef_box,
    .story__box .right_box {
        border: none;
    }
}


/* media query for max-width: 550px*/
@media (max-width: 550px) {
    /* Default styles */
    .line-h-60 {
        line-height: 40px !important;
    }

    .line1 {
        width: 150px;
        height: 2px;
    }

    .line2 {
        width: 150px;
        height: 2px;
    }

     /* Main styles */
    .hero_event__details {
        flex-direction: column;
        gap: 15px;
    }

    .event__details {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        margin-top: 25px;
    }

    .story-main-contnet div {
        font-size: 18px;
    }

    .landing-page-footer .copyRight {
        font-size: 14px;
    }
}


/* media query for max-width: 540px*/
@media (max-width: 540px) {
    .left-border {
        border-right: none !important;
    }

    .primary-outer {
        border: none !important;
    }
}

/* media query for max-width: 320px*/
@media (max-width : 320px) {
    .about-items {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-clr); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }